# Cloudbees CI high availability for traditional platforms demo

services:
  operations-center:
    image: ${DOCKER_IMAGE_OC}
    platform: linux/amd64
    extra_hosts:
      - "${OC_URL}:${HAPROXY_IP}"
      - "${CLIENTS_URL}:${HAPROXY_IP}"
    #privileged: true
    #user: root
    healthcheck:
      test: curl -k --fail ${HTTP_PROTOCOL}://localhost:${HTTP_PORT}/whoAmI/api/json?tree=authenticated || exit 1
      interval: 3s
      timeout: 3s
      retries: 150
    environment:
      - JAVA_OPTS=${CJOC_JAVA_OPTS}
      - JENKINS_OPTS=${CJOC_JENKINS_OPTS}
      - CJOC_LOGIN_PW=${CJOC_LOGIN_PW}
      - CJOC_LOGIN_USER=${CJOC_LOGIN_USER}
      - OC_URL=${HTTP_PROTOCOL}://${OC_URL}
    container_name: operations-center
    volumes:
      - ${OC_PERSISTENCE}:/var/jenkins_home
    networks:
      demo-network:
        ipv4_address: ${OC_IP}
  # Sidecar bunlde-link.yaml init doesent work yet, oc  hostname can not be resolved?
  init-controllers:
    image: curlimages/curl
    extra_hosts:
      - "${OC_URL}:${HAPROXY_IP}"
    command: [ "/bin/sh", "-c", "set -x && curl -v -k -L --user '${CJOC_LOGIN_USER}:${CJOC_LOGIN_PW}' -XGET -o /var/jenkins_home/bundle-link.yaml '${HTTP_PROTOCOL}://operations-center:${HTTP_PORT}/config-bundle-download-link?id=ha' && cat /var/jenkins_home/bundle-link.yaml" ]
    container_name: init-controllers
    healthcheck:
      test: test -f /var/jenkins_home/bundle-link.yaml
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 2s
    depends_on:
      operations-center:
        condition: service_healthy
    volumes:
      - ${CONTROLLER_PERSISTENCE}:/var/jenkins_home
    networks:
      demo-network:
        ipv4_address: ${INIT_CONTROLLER_IP}

  ha-client-controller-1:
    image: ${DOCKER_IMAGE_CLIENT_CONTROLLER}
    platform: linux/amd64
    extra_hosts:
      - "${OC_URL}:${HAPROXY_IP}"
    #privileged: true
    # user: root
    healthcheck:
      test: curl -k --fail ${HTTP_PROTOCOL}://localhost:${HTTP_PORT}/whoAmI/api/json?tree=authenticated || exit 1
      interval: 6s
      timeout: 3s
      retries: 150
    # Required JAVA and JENKINS Options for HA (active/active)
    # https://docs.cloudbees.com/docs/cloudbees-ci/latest/ha-install-guide/specific-ha-installation-traditional#_java_options
    # https://docs.cloudbees.com/docs/cloudbees-ci/latest/ha/specific-ha-installation-traditional#_jenkins_args
    environment:
      - JAVA_OPTS=${CONTROLLER_JAVA_OPTS}
      - JENKINS_OPTS=${CONTROLLER_JENKINS_OPTS}
      - CONTROLLER_URL=${HTTP_PROTOCOL}://${CLIENTS_URL}
    depends_on:
      - operations-center
      - init-controllers
    # entrypoint: ["sh", "-c", "while [ ! -f /var/jenkins_home/bundle-link.yaml ]; do echo 'wait for bundle-link.yaml' && sleep 1; done;"]

    container_name: ha-client-controller-1
    # Controller 1 is mapping the same underlying dir as controller 2. They share the same jenkins_home
    # Cache dir is different for each
    volumes:
      - ${CONTROLLER_PERSISTENCE}:/var/jenkins_home
      - ${CONTROLLER1_CACHES}:/var/cache/cloudbees-core-cm
    networks:
      demo-network:
        ipv4_address: ${CONTROLLER1_IP}
  ha-client-controller-2:
    image: ${DOCKER_IMAGE_CLIENT_CONTROLLER}
    platform: linux/amd64
    extra_hosts:
      - "${OC_URL}:${HAPROXY_IP}"
    #privileged: true
    # user: root
    healthcheck:
      test: curl -k --fail  ${HTTP_PROTOCOL}://localhost:${HTTP_PORT}/whoAmI/api/json?tree=authenticated || exit 1
      interval: 6s
      timeout: 3s
      retries: 150
    # Required JAVA and JENKINS Options for HA (active/active)
    # https://docs.cloudbees.com/docs/cloudbees-ci/latest/ha-install-guide/specific-ha-installation-traditional#_java_options
    # https://docs.cloudbees.com/docs/cloudbees-ci/latest/ha/specific-ha-installation-traditional#_jenkins_args
    environment:
      - JAVA_OPTS=${CONTROLLER_JAVA_OPTS}
      - JENKINS_OPTS=${CONTROLLER_JENKINS_OPTS}
      - CONTROLLER_URL=${HTTP_PROTOCOL}://${CLIENTS_URL}
    depends_on:
      operations-center:
        condition: service_healthy
      ha-client-controller-1:
        condition: service_healthy
    container_name: ha-client-controller-2
    # Controller 2 is mapping the same underlying dir as controller 1. They share the same jenkins_home
    # Cache dir is different for each
    volumes:
      - ${CONTROLLER_PERSISTENCE}:/var/jenkins_home
      - ${CONTROLLER2_CACHES}:/var/cache/cloudbees-core-cm
    networks:
      demo-network:
        ipv4_address: ${CONTROLLER2_IP}
  agent:
    #build:
    #  context: .
    #  dockerfile: Dockerfile.agent
    image: ${DOCKER_IMAGE_JENKINS_SSH_AGENT}
    privileged: true
    user: root
    container_name: ssh-agent
    #    expose:
    #      - 22
    volumes:
      - ${AGENT_PERSISTENCE}:/home/jenkins/
    networks:
      demo-network:
        ipv4_address: ${AGENT_IP}
    environment:
      - JENKINS_AGENT_SSH_PUBKEY=${JENKINS_AGENT_SSH_PUBKEY}
  haproxy:
    image: ${DOCKER_IMAGE_HAPROXY}
    volumes:
      - ${HA_PROXY_CONFIG}:/usr/local/etc/haproxy/haproxy.cfg
    ports:
      - "${HA_PROXY_BIND_PORT}:${HA_PROXY_BIND_PORT}"
    container_name: haproxy
    networks:
      demo-network:
        ipv4_address: ${HAPROXY_IP}
    depends_on:
      ha-client-controller-1:
        condition: service_healthy
    extra_hosts:
      - "${OC_URL}:${OC_IP}"
  browser:
    image: ${DOCKER_IMAGE_BROWSER_BOX}
    container_name: webtop
    security_opt:
      - seccomp:unconfined #optional
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
      - SUBFOLDER=/ #optional
      - TITLE=Webtop #optional
    volumes:
      - ${BROWSER_PERSISTENCE}:/config
    ports:
      - 3000:3000
      - 3001:3001
    #devices:
    #  - /dev/dri:/dev/dri #optional
    shm_size: "2gb" #optional
    restart: unless-stopped
    extra_hosts:
      - "${OC_URL}:${HAPROXY_IP}"
      - "${CLIENTS_URL}:${HAPROXY_IP}"
    networks:
      demo-network:
        ipv4_address: ${BROWSER_IP}
networks:
  demo-network:
    driver: bridge
    #driver_opts:
    #  com.docker.network.bridge.host_binding_ipv4: "127.0.0.1"
    ipam:
      config:
        - subnet: ${IP_PREFIX}.0.0/24
